# Django project files
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Static files
staticfiles/
media/

# Secret keys
*.env

# Development files
*.log
db.sqlite3

# IDE files
.vscode/
.idea/

# Dependency directories
venv/
node_modules/

# Media files - exclude all media from version control
garden/garden_django/media/